<% include head.ejs %>
<title> - Dating app</title>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h1><%= data.name %></h1>
      <% if (data.name) { %>
      <img
        alt
        src="/upload/<%= data.cover %>"
      >
      <h2>leeftijd: <%= data.age %></h2>
      <p>Beschrijving: <%= data.description %></p>
      <% } %>

      <p>
      <button
        id=js-remove
        data-id="<%= data._id %>"
        class=danger>Verwijder</button>
      </p>
      <p><a href="/members">Terug naar lijst</a></p>
    </div>
  </div>
</div>
<% include tail.ejs %>
