<% include head.ejs %>
<title> - Dating app</title>
<h1><%= users.name %></h1>
<% if (users.cover) { %>
<img
  alt
  src="/upload/<%= cover %>"
>
<% } %>
<p><%= users.description %></p>
<p><%= users.age %></p>

<p>
  <button
    id=js-remove
  data-id="<%= id %>"
  class=danger>Verwijder</button>
</p>
<p><a href="/members">Terug naar lijst</a></p>

<% include tail.ejs %>
